<div class="d-flex justify-content-center" style="text-align: center; margin: 25vh auto 0 auto;">
    <button type="button" class="btn btn-outline-info go-back" mdbWavesEffect (click)="router.navigateByUrl('/')"><i class="fas fa-arrow-left"></i></button>
    <h1 class="p-2">Workspaces</h1>
  </div>
<form (ngSubmit)="createWorkspace()">
  <div style="text-align: center;" class="md-form">
    <input mdbInput mdbValidate [(ngModel)]="wsName" type="text" name="input" id="form1" class="form-control" style="margin-right: 1em;" #input="ngModel" required>
    <label for="form1" class="">Workspace name</label>
    <mdb-error for="form1" *ngIf="input.invalid && (input.dirty || input.touched)">Input invalid</mdb-error>
    <mdb-success for="form1" *ngIf="input.valid && (input.dirty || input.touched)">Input valid</mdb-success>
    <button mdbBtn type="submit" color="primary" outline="true" mdbWavesEffect>
      Create Workspace
    </button>
  </div>
</form>
<br/>
<br/>
<br/>
<div style="text-align: center">
  <h3 style="margin-bottom: 1em;">My workspaces</h3>
  <div *ngIf="workspaces">
    <p *ngFor="let workspace of workspaces">
      {{ workspace.name }}
      <button mdbBtn type="button" color="primary" outline="true" size="sm" (click)="router.navigate(['chat', workspace.id])" mdbWavesEffect>
        Load Workspace
      </button>
    </p>
  </div>
</div>
<app-auth (user_data)="updateUser($event)" style="top: 0; left: 0;"></app-auth>