/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

#editor {
  width: 70em !important;
  height: 50em;
}

.go-back {
  display: grid;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin-top: 1.25em;
}

.fas {
  margin-top: -4.25px;
}

#editor {
  width: 75vw !important;
  height: 75vh !important;
}
