<div class="container" style="margin-top: 40vh; height: auto;">
  <div class="row">
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>SlateJS</button>
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Codemirror</button>
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>AceIDE</button>
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="router.navigateByUrl('/stackblitz')">StackBlitz</button>
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="router.navigateByUrl('/froala')">Froala</button>
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="router.navigateByUrl('/monaco')">Monaco</button>
  </div>
  <div class="row">
    <button class="col-sm-3 " mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="router.navigateByUrl('/chat')">Chat</button>
  </div>
</div>
