<div class="container">
  <div class="row">
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>SlateJS</button>
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Codemirror</button>
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>AceIDE</button>
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="router.navigateByUrl('/stackblitz')">StackBlitz</button>
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="router.navigateByUrl('/froala')">Froala</button>
    <button class="col-sm-3" mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="router.navigateByUrl('/monaco')">Monaco</button>
  </div>
  <div class="row">
    <button class="col-sm-3 " mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="buildWorkspace('sample')">Chat</button>
  </div>
</div>
<app-auth (user_data)="updateUser($event)"></app-auth>
